$mainColor: #ccc;
$headingColor: $mainColor;
$backgroundColor: #000;
$headingTextShadow: none;
$headingLineHeight: 1em;
$linkColor: #0c0;
$linkColorHover: #0a0;
$mainFont: "Source Code Pro", monospace;
$headingFont: $mainFont;
